@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #CCC5B6;
  font: normal 100%/150% "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
  font-family: "Lora", Arial, serif;
  font-weight: bold;
}

.main {
  background-color: whitesmoke;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

img {
  width: 80%;
}

li {
  list-style: none;
}
